body {
	background: #505050;
}

#body-container {
	margin-left: 226px;
}

.bg-grey {
	background: #909090;
}

.shadow {
	border-radius: 10px;
	box-shadow: 10px 10px 12px black;
}

#header {
	margin-top: 17px;
	width: 1400px;
	padding: 10px;
	height: 117px;
}

#header-left {
	float: left;
}

#header-right {
	float: right;
}

#loupe {
	position: absolute;
	margin-left: -256px;
}

#header-buttons {
	line-height: 117px;
}

#reload {
	height: 20px;
	position: absolute;
	vertical-align: top;
}

#close {
	position: relative;
	z-index: 1;
	vertical-align: bottom;
}


#container {
	padding: 20px 30px;
	text-align: center;
	width: 1420px;
	display: flex;
}

#banner {
	background: url('./ressources/day_of_the_42.png');
	height: 238px;
	width: 922px;
}

.side {
	width: 140px;
	height: 425px;
}


#left-side {
	float: left;
}

#left-side > .side-container {
	position: relative;
	left: -3px;
}

.side-container > img, #wall {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#arrow {
	height: 70px;
	margin-top: 15px;
}

#main {
	height: 70px;
	margin-top: 6px;
}

#oeil {
	border: 5px solid red;
	border-radius: 5px;
	margin-top: 1px;
	height: 65px;
}

#outil {
	height: 70px;
	margin-top: 1px;
}

#chat {
	height: 68px;
	margin-top: 6px;
}

#right-side {
	float: right;
}

#book {
	margin-top: 16px;
	height: 95px;
}

#towel {
	height: 51px;
	margin-top: 7px;
}

#cluster-pic {
	display: inline-block;
	margin: 0px 30px;
	width: 1020px;
}

#cluster-pic > img {
	margin: 10px 10px 5px 10px;
}

#wall {
	background: url('./ressources/brick.jpg');
	width: 120px;
	height: 70px;
	margin-top: 1px;
}

#wtf {
	position: relative;
	top: -95px;
	left: -45px;
	height: 170px;
	width: 520px;
	background: #88ff89;
}

#wtf-container {
	font-family: Georgia;
	font-size: 18px;
	text-align: initial;
	padding: 10px 10px;
	line-height: 1.1;
}

#pic-overlay {
	position: absolute;
}

#chair-hitbox {
	display: block;
	width: 170px;
	height: 224px;
	position: relative;
	left: 320px;
	top: 330px;
}

#apple-hitbox {
	display: block;
	width: 220px;
	height: 150px;
	position: relative;
	left: 780px;
	top: 100px;
}

.big-text {
	font-size: 32px;
}

.red-shadow {
	text-shadow: 5px 5px 5px rgba(255, 0, 0, 0.7)
}

input {
	-webkit-appearance: none;
	font-size: 13px;
}

#wtf-container > form {
	margin-top: 2px;
}
