body {
    background: #505050;
}

#preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    opacity: 0.1;
}

.grey-bg {
    background: #909090;
}

body .container {
    width: 1420px;
    margin: auto;
}

#header {
    margin-top: 17px;
    height: 137px;
    border-radius: 10px;
    box-shadow: 10px 10px 12px black;
}

#header .container {
    padding: 10px;
}

#banner {
    background: url('./ressources/day_of_the_42.png');
    height: 238px;
    width: 922px;
}

#wall {
    background: url('./ressources/brick.jpg');
    width: 120px;
    height: 70px;
}
